@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik+Distressed&display=swap');

.navbar {
    height: 50px;
    opacity: 0.8;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 4px -4px black;

    font-family: 'Roboto Condensed', sans-serif;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
}

.ul-item {
    color: white;
    text-decoration: none;
}

span {
    color: #8d8ddf;
}


/* SECTION "MAIN" */
.promo {
    margin-top: 100px;
    min-height: 310px;
}

.recommended_products {
    margin-top: 50px;
    min-height: 500px;
}

.recommended_products .card {
    width: 250px;
    height: 300px;
}


.card {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.card .rating {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
}

.card_descr {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
    font-weight: bold;
}

.card .price {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.recommended_products .card img {
    margin: 0 auto;
}


.card button {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background: #ff0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.arrows {
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    float: right;
    margin-right: 50px;
}

/* SECTION "DISPOSABLES" */


.disposables {
    margin-top: 100px;
    min-height: 500px;
}

.disposable_text {
    margin-bottom: 20px;
}



.rating {
    display: flex;
    flex-direction: row-reverse;
}

.rating_item {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

/* .rating_item:hover,
.rating_item:hover ~ .rating_item{
    color: orange;
} */

.rating[data-total-value="1"] .rating_item:nth-child(n+5),
.rating[data-total-value="2"] .rating_item:nth-child(n+4),
.rating[data-total-value="3"] .rating_item:nth-child(n+3),
.rating[data-total-value="4"] .rating_item:nth-child(n+2),
.rating[data-total-value="5"] .rating_item:nth-child(n+1) {
    color: orange;
}

.addToWishList {
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
}

.addToWishList:hover {
    color: orange;
}

.popup,
.popup_category,
.popup_producer,
.popup_product,
.popup_info,
.popup_image,
.popup_engineer,
.popup_calc_end {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_content,
.popup_engineer_content,
.popup_content_info,
.popup_calc_end_content {
    /* display: none; */
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40rem;
    background-color: #ffffff;
}

.popup_close,
.popup_engineer_close,
.popup_calc_end_close {
    position: absolute;
    top: -2.2rem;
    right: -5rem;
    font-size: 4rem;
    color: #ffffff;
    border: none;
    background: transparent;
}

.form_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.hidden {
    display: none;
}

.faded {
    animation: faded 1s;
}
@keyframes faded {
    0% {
        opacity: 0.1;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu li{
    width: 100%;
    text-align: center;
}